@using homework9.Enum
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Shop";
}
@model homework9.ViewModels.HomeIndexViewModel

<h1>Product shop</h1>

@if (Model.Products.Any())
{
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Comment</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products)
    {
    <tr>
        <td>@product.Id</td>
        <td>@product.Name</td>
        <td>@product.Price</td>
        <td>@product.Category</td>
        <td>@product.Comment</td>
        <td><a asp-action="EditProduct" class="btn btn-success" asp-route-id="@product.Id">Edit</a></td>
    </tr>
    }
    </tbody>
</table>
}
else
{
<p>No products found. Add a new one!</p>
}

<hr />

<h2>Add a product</h2>

<form asp-action="AddProduct" asp-controller="Shop" method="post">
    <div class="form-group">
        <label asp-for="NewProduct.Name">Name</label>
        <input type="text" class="form-control" asp-for="NewProduct.Name" required />
    </div>
    <div class="form-group">
        <label asp-for="NewProduct.Price">Price</label>
        <input type="number" class="form-control" asp-for="NewProduct.Price" required />
    </div>
    <div class="form-group">
        <label asp-for="NewProduct.Category">Category</label>
        <select asp-for="NewProduct.Category" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="NewProduct.Comment">Comment</label>
        <textarea asp-for="NewProduct.Comment"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Добавить</button>
</form>

<a asp-controller="EasterEgg" asp-action="EasterEgg" class="mt-4">Easter egg</a>